/*Geral*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Cabeçalho*/

header,
section h2,
section h3 {
  font-family: "Bungee", cursive;
  font-weight: normal;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  padding: 16px 0;
  background-color: #2956d0;
  color: #ecf0f1;
}

header nav li {
  display: inline;
  margin-left: 16px;
  color: #ecf0f1;
  font-size: 24px;
}

header nav li a {
  color: #ecf0f1;
  text-decoration: none;
}

.container,
.container2 {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

header .container,
section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*Sobre*/

.brands-list img {
  height: 25px;
}

.brands-list li {
  display: inline;
  margin-right: 8px;
}

section .container {
  align-items: flex-start;
}

section .container2 {
  align-items: flex-start;
}
section {
  padding: 24px 0;
}

section h2 {
  margin-bottom: 0px;
}

section {
  color: #182c61;
}

section p {
  margin-bottom: 8px;
}

.store-front {
  margin-right: 32px;
}

.container-flex {
  display: flex;
}

.lista-produtos {
  flex-wrap: wrap;
}

.lista-produtos li {
  list-style: none;
  max-width: 20%;
  margin-bottom: 24px;
}

.lista-produtos li img {
  max-width: 100%;
}

.lista-produtos li h3 {
  margin: 16px 0;
}

.item-central {
  margin: 0 5%;
}

button {
  display: block;
  width: 100%;
  padding: 8px 0;
  border: none;
  background-color: #2956d0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  border-radius: 6px;
}

.price {
  margin: 16px 0;
  display: block;
}

.price del {
  font-size: 14px;
}

/* Para dispositivos desktop (a partir de 1024px) */
@media only screen and (min-width: 1024px) {
}

/* Para dispositivos tablet (de 641px até 1023px) */
@media only screen and (min-width: 641px) and (max-width: 1023px) {
  .container {
    max-width: 90%;
  }
  .container2 {
    max-width: 90%;
  }
  .container-flex lista-produtos {
    grid-template-columns: repeat(2, 49%);
  }

  header .container,
  section .container {
    display: block;
    align-items: center;
    justify-content: space-between;
  }
}

/* Para dispositivos móveis (até 640px) */
@media only screen and (max-width: 640px) {
  .container {
    max-width: 90%;
  }

  .container2 {
    max-width: 90%;
  }

  .container-flex {
    display: block;
  }

  header .container,
  section .container {
    display: block;
    align-items: center;
    justify-content: space-between;
  }

  .lista-produtos li {
    max-width: 50%;
    grid-template-columns: repeat(2, 49%);
  }
}

hr {
  color: #182c61;
  margin-bottom: 30px;
}
